.navbar{
padding-top: 5px;
padding-bottom: 5px;
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: orange;
    border-radius: 5px;

}
.navbar img{
    max-width: 150px;
    padding: 0;
    margin-top: 0;
    height: 70px;
}

.hero{
    background-image: url(../img/20250701141944-fried-20chicken.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.promo{
background: linear-gradient(orange, gold);
padding: 80px 0;
}

.card img{
height: 200px;
object-fit: cover;
}

.btn{
background: linear-gradient(45deg,#ff7a00,#ffb300);
color: white;
padding: 12px 35px;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 50px;
display: inline-block;
transition: 0.3s;
box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn:hover{
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
background: linear-gradient(45deg,#ff6a00,#ff9500);
}

.btn:active{
transform: scale(0.95);
box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.card img{
height:200px;
width:100%;
object-fit:contain;
display:block;
margin:auto;
}

.carousel-control-prev{
left:-60px;
}

.carousel-control-next{
right:-60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
background-color:#ffb300;
border-radius:50%;
padding:20px;
background-size:60%;
}

html{
scroll-behavior:smooth;
}

#menu-1{
scroll-margin-top:80px;
}

#promo{
scroll-margin-top:80px;
}

#kontak{
scroll-margin-top:80px;
}